@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
:root {
    --ion-color-primary: #890505;
    --ion-color-button_color: #ffffff;
    --ion-color-text_color: #000000;
}

@media (prefers-color-scheme: dark) {
    body {
        --ion-color-primary: #dcb1b1;
    }
}